.background-photo {
    background-image: url(https://c.tenor.com/7XKWt1IT8X0AAAAj/foodpanda-delivery.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}